.codepallet{
    display: flex;
    justify-content: center;
    align-items: center;
    height:  95vh;
    width: 100%;
    color: white;
}
.plate{
    height: 95vh !important;
    width: 100%;
}
.topmenufile{
    display: flex;
    
}