.editor {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.editorside {
  width: 50%;
}
.filehandler{
  display: flex;
  background-color: black;
  width: 15%;
  height: 95vh;
  
}
.lefe{
  display: flex;
  width: 100%;
  
}
.outputside {
  width: 50%;
}
.de {
  display: flex;
  justify-content: space-around;
}
.runbtn {
  display: flex;
  width: 100%;
  position: sticky;
}
.pallete{
  height: 100%;
  background-color: rgb(40, 40, 40);
  width: 100%;
}
.ef{
  display: flex;
  width: 100%;
  background-color: rgb(50, 50, 50);
  position: absolute;
  height: 15px;
  bottom: 0;
  z-index: 100;
}