.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  background-color: black;
  color: white;
  flex-wrap: wrap-reverse;

}
.lef{
 display: flex;
 flex-direction: column;
 justify-content: center;
  
}
.righ{
  width: 50%;
  display: flex;
  justify-content: center;
  
}
.her{
  width: 100%;
}